:root {
  --color-primary: #424874;    /* Color principal */
  --color-secondary: #161c47;  /* Color de acento */
  --color-text: #DCD6F7;       /* Texto principal */
  --color-text-dim: #6e4274;   /* Texto secundario */
  --color-background: #DEDEDE; /* Fondo */
}